doctype html
html
    head
        block head
            meta(charset="utf-8")
            meta(name="viewport", content="width=device-width")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="x-apple-disable-message-reformatting")
    body
        p Hi #{name},
        p This is your new password: #{password}
        p You can now log in again into your account:
        a(href='https://syra.live') S Y R A  |  Login